### DataSet link: https://drive.google.com/file/d/1bWH5tVVpk-FC7YXJOsFkl8b4em6GHuUp/view?usp=sharing

### Importing Libraries

In [1]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [12]:
import pandas as pd
import numpy as np

### Loadig the data

In [3]:
df=pd.read_csv('diamonds.csv')

In [4]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [5]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [6]:
df.isnull().sum() # checking the null values

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [10]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [14]:
print(np.unique(df[['cut', 'color','clarity']].values))

['D' 'E' 'F' 'Fair' 'G' 'Good' 'H' 'I' 'I1' 'IF' 'Ideal' 'J' 'Premium'
 'SI1' 'SI2' 'VS1' 'VS2' 'VVS1' 'VVS2' 'Very Good']

In [58]:
df1=df

In [59]:
df1

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    2      0        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    1      0        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    4      0        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    3      4        3   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

### Label Encoding

In [60]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [61]:
df1['cut']=le.fit_transform(df1['cut'])
df1['color']=le.fit_transform(df1['color'])
df1['clarity']=le.fit_transform(df1['clarity'])

In [62]:
df1

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    2      0        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    1      0        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    4      0        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    3      4        3   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [63]:
#Input and output dataset
target=df1['price']
df1=df1.drop(['price'],axis=1)

In [64]:
df1

       carat  cut  color  clarity  depth  table     x     y     z
0       0.23    2      1        3   61.5   55.0  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
53935   0.72    2      0        2   60.8   57.0  5.75  5.76  3.50
53936   0.72    1      0        2   63.1   55.0  5.69  5.75  3.61
53937   0.70    4      0        2   62.8   60.0  5.66  5.68  3.56
53938   0.86    3      4        3   61.0   58.0  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0  5.83  5.87  3.64

[53940 rows x 9 columns]

First of all, you don’t need to normalise your inputs until one/more of the inputs start to dominate others - which is the fundamental reason behind normalization/standardization.

Generally machine learning tasks are divided into two major groups - regression and classification. For regression, you can normalise the outputs like you do for inputs but that won’t change anything because error is normalised in the same way. However, for neural networks scaling is necessary because the range of the activations functions has some definite value (for example: range of Sigmoid is [0, 1]. From my experience, for a regression using LSTM-RNN, you need to de-normalize outputs once again in the final layer.

For classification, normalizing the outputs isn’t necessary. However, I haven’t checked the consequences of doing so but that seems meaningless, specially if you use one-hot encoding.

### Normalizing the data

In [66]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
num_features=['carat','cut','color','clarity','depth','table','x','y','z']
norm_data = scaler.fit_transform(df1.loc[:,num_features])
print(norm_data.shape,type(norm_data))

(53940, 9) <class 'numpy.ndarray'>

In [67]:
norm_data

array([[0.00623701, 0.5       , 0.16666667, ..., 0.36778399, 0.06757216,
        0.07641509],
       [0.002079  , 0.75      , 0.16666667, ..., 0.36219739, 0.06519525,
        0.07264151],
       [0.00623701, 0.25      , 0.16666667, ..., 0.37709497, 0.06910017,
        0.07264151],
       ...,
       [0.1039501 , 1.        , 0.        , ..., 0.52700186, 0.09643463,
        0.11194969],
       [0.13721414, 0.75      , 0.66666667, ..., 0.5726257 , 0.10390492,
        0.11761006],
       [0.11434511, 0.5       , 0.        , ..., 0.54283054, 0.09966044,
        0.11446541]])

### Train-Test Split

In [68]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(norm_data, target, train_size = 0.75, random_state = 0)

In [69]:
y_train

441      2815
50332    2242
35652     907
9439     4592
15824    6332
         ...
45891    1720
52416    2512
42613     505
43567    1431
2732     3246
Name: price, Length: 40455, dtype: int64

In [70]:
type(X_train)

numpy.ndarray

In [71]:
y_train=np.array(y_train)
type(y_train)

numpy.ndarray

### Numpy Broadcasting

In [72]:
distance=np.zeros(y_test.shape)
y_test_pred=np.zeros(y_test.shape)
k=3
for i in range(len(X_test)):
    distance=np.sqrt(((X_test[i]-X_train)**2).sum(axis=1))
    sort_value=(np.argsort(distance))
    sort_value=sort_value[:k]
    y_test_pred[i]=y_train[sort_value].mean()
print(y_test_pred)

[4681.         6800.         5486.33333333 ... 3435.66666667 2958.
 1645.66666667]

In [73]:
y_test_pred.shape

(13485,)

In [76]:
y_test.shape

(13485,)

In [92]:
#Comparision dataframe
comp_df = pd.DataFrame(list(zip(y_test, y_test_pred)),
               columns =['Y_test', 'Y_test_pred'])
comp_df

       Y_test   Y_test_pred
0        4733   4681.000000
1        6424   6800.000000
2        5510   5486.333333
3        8770  11926.666667
4        4493   4825.666667
...       ...           ...
13480    2494   2168.333333
13481    4861   3771.333333
13482    2932   3435.666667
13483    3422   2958.000000
13484    1173   1645.666667

[13485 rows x 2 columns]

### Evaluation

In [89]:
from sklearn import metrics
nb_acu=metrics.r2_score(y_test,y_test_pred)

### Using Scikit Learn Library

In [80]:
#Importing KNN regressor class from neighbours module
from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors

In [90]:
model = neighbors.KNeighborsRegressor(n_neighbors = 3)
model.fit(X_train, y_train)  #fit the model
pred=model.predict(X_test) #make prediction on test set
skl_acu=metrics.r2_score(y_test,pred)

### Comparing the R2 Scores

In [91]:
print("Accuracy calculated using Numpy Broadcasting:",nb_acu)
print("Accuracy calculated using Scikitlearn:",skl_acu)

Accuracy calculated using Numpy Broadcasting: 0.9666750431189519
Accuracy calculated using Scikitlearn: 0.9666724322567254